<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta charset="utf-8">
		
		<title>dDriven</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="https://github.com/FortAwesome/Font-Awesome/blob/master/fonts/fontawesome-webfont.ttf">
		<script src="https://use.fontawesome.com/c17be594f1.js"></script>
		<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700'>
		<link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquerySinglePageNav.min.js' %}"></script>
		<script src="{% static 'js/typed.js' %}"></script>
		<script src="{% static 'js/wow.min.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
	</head>
	<body id="top">

		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-wave">
     	 		<div class="sk-rect1"></div>
       			<div class="sk-rect2"></div>
       			<div class="sk-rect3"></div>
      	 		<div class="sk-rect4"></div>
      			<div class="sk-rect5"></div>
     		</div>
    	</div>
    	<!-- end preloader -->

        <!-- start header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-phone"></i><span> Phone</span>+65 6385 3602</p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-envelope-o"></i><span> Email</span><a href="sales@dDriven.sg">sales@dDriven.sg</a></p>
                    </div>
                    
                </div>
            </div>
        </header>
        <!-- end header -->

    	<!-- start navigation -->
		<nav class="navbar navbar-default templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="http://www.ddriven.sg" class="navbar-brand"><img src="{% static 'images/dDriven.png' %}"></a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li id='landing'><a href="">Home</a></li>
						<li id="face_recognition"><a href="">Dashboard</a></li>
						<li id="vehicle_monitoring"><a href="">About Us</a></li>
						<li id="boundary_intrusion"><a href="">Login</a></li>
						
					</ul>
				</div>
			</div>
		</nav>
		<!-- end navigation -->

    	<!-- start home -->
    	<section id="home">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-offset-2 col-md-8">
    					<h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">We help you realise your<span> AI </span>vision</h1> 
    					<div class="element">
                            <div class="sub-element">Computer Vision for industrial applications</div>
                            <div class="sub-element">Foolproof security solutions that provide peace of mind</div>
                            <div class="sub-element">Smart , Intelligent, self learning and adaptive</div>
                        </div>
    					<a data-scroll href="#about" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">GET STARTED</a>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end home -->

    	<!-- start about -->
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">WE ARE <span>dDriven</span></h2>
    				</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-mobile"></i>
								</div>
								<h3 class="media-heading">REALTIME</h3>
							</div>
							<div class="media-body">
								<p>Our system integrates into your existing system and provides real time updates. No anomalies go undetected. We help you have total control over your assets</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-comment-o"></i>
								</div>
								<h3 class="media-heading">EVENT HANDLING</h3>
							</div>
							<div class="media-body">
								<p>tell us how you want your events to be handled and we will adapt it to serve your spcific purpose.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-code"></i>
								</div>
								<h3 class="media-heading"> Sophisticated AI</h3>
							</div>
							<div class="media-body">
								<p>Our system banks highly on machine learning algorithms and computer vision. We are always on top of the latest technologies to provide you with the best product possible.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end about -->



    	
    	<!-- start contact -->
    	<section id="contact">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">CONTACT <span>dDriven</span></h2>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
    					<form action="#" method="post">
    						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7613113928064!2d103.89039511475396!3d1.3188942990380579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1818677e43ff%3A0x9053328cc088d24b!2s60+Paya+Lebar+Rd%2C+Paya+Lebar+Square%2C+Singapore+409051!5e0!3m2!1sen!2s!4v1496855891026" width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    					</form>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
    					<address>
    						<p class="address-title">OUR ADDRESS</p>
    						
    						<p><i class="fa fa-phone"></i>+65 6385 3602 , +65 9770 8249
                            </p>
    						<p><i class="fa fa-envelope-o"></i> sales@dDriven.sg</p>
    						<p><i class="fa fa-map-marker"></i> dDriven Solutions Pte Ltd 60 Paya Lebar Road, #10-08 Singapore – 409051</p>
    					</address>
    					<ul class="social-icon">
    						<li><h4>WE ARE SOCIAL</h4></li>
    						<li><a href="#" class="fa fa-facebook"></a></li>
    						<li><a href="#" class="fa fa-twitter"></a></li>
    						<li><a href="https://www.youtube.com/channel/UC4yzoGuKkCL_8FzI-B-x83A" class="fa fa-youtube"></a></li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end contact -->

        <!-- start copyright -->
        <footer id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
                        dDriven &copy; © 2016 dDriven Solutions Pte Ltd, Terms of Use Privacy and Security Statement</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end copyright -->
<script type="text/javascript">
	document.getElementById('landing').onclick=function() {navigateHome()};
	function navigateHome() {
    window.location.href = '';
}	
		</script>
	</body>
</html>